*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient( circle 382px at 50% 50.2%,  rgba(73,76,212,1) 0.1%, rgba(3,1,50,1) 100.2% );
}

.card{
    height: 80%;
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.card h2{
    font-weight: bold;
    font-size: 2.2rem;
}

.right-box{
    height: 100%;
    width: 50%;
    background-color: red;
    background-image: url(icon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
}

.right-box:hover{
    transform: scale(1.21);
}

.left-box{
    height: 100%;
    width: 50%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 25px;
    background-image: linear-gradient( 85.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.left-box:hover{
    background-color: #ffffff;
    transform: scale(1.21);
}

.stat-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}